// Ne pas changer l'ordre
@import "variables.less";
@import "bootstrap.less";
@import "font-awesome.less";

body {
  background-image:url( "@{images-dir}@{background-image-mobile}" );
  background-position:center top;
  background-attachment: fixed;
  background-size: cover;


  @media screen and (min-width:768px) {
    background-image:url( "@{images-dir}@{background-image-desktop}" );
  }
}

a {
  color:#00f;

  .share & {
    color:@yellow;
  }
}


p.lead {
line-height:1.2;
}

h1 {
  //font-family: Arial,sans-serif;
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;

  color: #000;

  font-size:56px;
  font-weight:800;
  text-transform:uppercase;

  font-size:50px;


  @media screen and (min-width:@screen-sm-min) {
    font-size:62px;
    float:left;
    width:60%;
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
    //font-size:55px;

  }


    @media screen and (min-width:@screen-md-min) {
      width:66.666%;
    }

    @media screen and (min-width:@screen-lg-min) {
      width:69%;
    }


}

.content {
  position:relative;
  overflow:hidden;
}

.presentation,
.formular {
  min-height: 1px;
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;
  position: relative;
  width:100%;
  float:right;
}

.counter {
  display:none;
  &.show {
    display:block;
  }
}


.petition-wrapper {
  background-color:#fff;
//padding-bottom:3em;
overflow:hidden;
position:relative;
}

.presentation {

  padding-bottom:3em;
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;

  @media screen and (min-width:@screen-sm-min) {
    float:left;
    width:60%;
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
  }

  @media screen and (min-width:@screen-md-min) {
    width:66.666%;
  }

  @media screen and (min-width:@screen-lg-min) {
    width:69%;
  }

  img {
    width:100%;
  }
}


.formular {
  background-color:@grey-primary;
  color:#fff;
  height:100%;
  margin-bottom:1em;

  .form-wrapper {
    padding-top: 20px;
  }



  @media screen and (min-width:@screen-sm-min) {
    position:absolute;
    overflow:auto;
    top:0;
    right:0;
    bottom:0;
    width:40%;
  }

  @media screen and (min-width:@screen-md-min) {

    width:33.334%;
  }

  @media screen and (min-width:@screen-lg-min) {
    width:31%;
  }
}



.show-form {
  z-index:100;
  background-color: @grey-primary;
  position:fixed;
  top:0;
  left:0;
  right:0;
  transform:translateY(-100%);

  .wrapper {
    padding: 7px @grid-gutter-width/2 7px;
  }

  .fixed & {
    transform:translateY(0);
    transition:transform .6s;

  }
}


#eaerrors {
  margin-bottom:1em;

  ul, ol {
    padding-left:0;
    list-style-type:none;
  }
}


#utm_sourceDiv,
#utm_contentDiv,
#utm_termDiv,
#utm_mediumDiv,
#utm_campaignDiv {
opacity:0;
overflow:hidden;
height:0;
}

#email_okDiv {
  & when (@optin = false) {
    opacity:0;
    overflow:hidden;
    height:0;
  }

  label {
    display:inline;
  }
}

.eaErrorMessageHeader {
font-size:1.7em;
}


.eaFullWidthContent {

  @media screen and (max-width: @screen-sm-min) {
    margin-top:0 !important;
  }

  .eaErrorMessage {
    display:none;
  }
}


.eaFullWidthContent,
.eaSubmitResetButtonGroup {
  &:extend(.form-group);
  margin-bottom:0;
  display:block;

  input[type="submit"] {
    width:100%;
  }
}

.eaFormField {
  margin-bottom:10px;


}


.btn-primary {
  color:@grey-primary;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.eaSubmitButton {
  &:extend(.btn);
  &:extend(.btn-primary);

  font-size:20px;
  padding:12px 20px;

//  color:@grey-primary;
//  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}


input[type=text] {
  &:extend(.form-control);
}

@media screen and (min-width:@screen-sm-min) {
  .show-form {
    display:none;
  }
}


.intro {
  font-size:21px;
  line-height:1.2;
}

.sign {
  color:@yellow;
}

.counter {
  margin-top:18px;

}

.reassurance {
    padding-bottom:30px;
    padding-top:20px;
    font-size:11px;
}


.footer {
  padding:20px 0;
  text-align: left;
  background-color:#020;
  color: #99979c;


  .footer-links {
    padding:0;
  }

  li {
    display: inline-block;
    padding-right:20px;
    a {
      color:#fff;
    }
  }


  p {
    a,
    a:hover {
      color:#99979c;
    }

    a:hover {
      text-decoration:underline;
    }
  }

}

/*
#first_nameDiv,
#last_nameDiv {
  width:49%;
  float:left;
}

#last_nameDiv {
  margin-left:2%;
}


#emailDiv {
  clear:left;
}
*/

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding:5px 6px;
}


.share-top {
  clear:both;
  padding: 12px (@grid-gutter-width / 2) 20px;

  @media screen and (min-width:@screen-sm-min) {
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
  }

  .share-item {
    color:#fff;
    padding:2px 6px;
    display:inline;
    font-weight:bold;
    margin-right:4px;
    font-size:14px;


    &#share-facebook {
      background-color: #4865b5;
    }

    &#share-twitter {
      background-color: #00acee;
    }
  }

}




.share {
  .share-item {
    text-align:center;
    display:block;
    padding:5px;
    cursor:pointer;
    margin: 0 3px;
    font-size:4em;
  }
}


a.share-item {
  &:hover,
  &:active,
  &:focus {
    text-decoration:none;
  }
}


.progress {
  height:10px;
  border-radius:0;
}


.assos {
  border-top:1px solid #666;
  //border-bottom:1px solid #666;

  padding-top:1.5em;
  // padding-bottom: 1.5em;
  margin:4em 0 2em;

  clear: both;
  overflow:hidden;

  .asso {
    float: left;
    text-align:center;
    margin: 0 20px;
    height:116px;

    img {
      width:inherit;
    }
  }
}


.more {
  h3 {
    cursor:pointer;

    .fa-stack {
      color:@grey-primary;
    }

    .fa-inverse {
      color:@yellow;
    }
  }

  .more-content {
    display:none;
  }
}
