// Ne pas toucher à celui là
@import "../../bower_components/bootstrap/less/variables.less";

@optin: false;

// Et maintenant, les règles du projet :
@screen-lg-min: 1090px;
@container-large-desktop: (1030px + @grid-gutter-width);

// @brand-primary: #94cc00;
@grey-primary: #666;
@yellow: #ffeb1f;
@brand-primary: @yellow;
@images-dir: "https://secured-static.greenpeace.org/france/Global/france/new-gmo/";
@background-image-desktop: "bg-desktop.jpg";
@background-image-mobile: "bg-mobile.jpg";
@input-height-base: 30px;
