{% extends "confirm.twig" %}
{% use "content.twig" %}


{% block confirmation %}
{{ block("confirmation_text") }}
{% endblock %}


{% block confirm_tag %}
  {% if nro == "france" %}

  dataLayer.push({
    event:'confirmation',
    category:'{{ analytics_confirmation_event_category }}',
    action:'{{ analytics_confirmation_event_action }}',
    label:'{{ analytics_confirmation_event_label }}',
    virtualPageURL:window.virtualPageURL,
    virtualPageTitle: window.virtualPageTitle,
    virtualHostName:window.virtualHostName
  });

  {% endif %}

{% endblock %}
