
<div class="confirmation">
{% block confirmation %}{% endblock %}

  <div class="share row">
    <div class="col-xs-4">
      <a rel="nofollow" class="share-item" id="share-facebook" href="http://www.facebook.com/sharer.php?u={{ share_url|e('url') }}">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-xs-4">
      <a rel="nofollow" class="share-item" id="share-twitter" href="https://twitter.com/intent/tweet?text={{ twitter_msg_signature|e('url') }}&url={{ share_url|e('url') }}">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-xs-4">
      <a rel="nofollow" href="http://api.addthis.com/oexchange/0.8/forward/email/offer?url={{ share_url|e('url') }}" class="share-item addthis_button" id="share-email">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <script type="text/javascript">
  (function($, window, undefined) {
    $(window.document).ready(function() {
      $(window).trigger('petition.signed');
    });
  })(jQuery, window);
  </script>
  <script type="text/javascript">
  window.virtualPageURL = "{{ analytics_confirmation_url }}";
  window.virtualHostName = "{{ analytics_confirmation_hostname }}";
  window.virtualPageTitle = "{{ analytics_confirmation_title }}";

  dataLayer.push({
    event:'{{ nro }}VirtualPageview',
    virtualPageURL:window.virtualPageURL,
    virtualPageTitle:window.virtualPageTitle,
    virtualHostName:window.virtualHostName
  });

  {% block confirm_tag %}{% endblock %}
  </script>
</div>
