{#
# Hi ! This website uses the Twig templating engine :
# http://twig.sensiolabs.org/documentation
#
# Every piece of content you need to adapt / translate
# is defined here in "blocks" and in the file twig.json (for simple values / single lines)
#
# Stay inside the HTML written in the {% block %}{% endblock %} sections
# and everything will be fine.
#
# Questions & help : hugo.poncedeleon@greenpeace.org
#}


{#
#
# SEO
#
#}
{% set title = "Nouveaux OGM, non merci !" %}

{% set description = "(Comment) les entreprises de l’agrochimie tentent de nous imposer en douce les nouveaux OGM" %}

{% set social_title = "Des nouveaux OGM bientôt dans nos champs et nos assiettes ?" %}

{% set social_description = "Les entreprises de l’agrochimie ont trouvé une nouvelle recette pour faire entrer les OGM dans nos champs et nos assiettes : contourner la réglementation européenne en affirmant que les nouveaux OGM ne sont pas des OGM. Photo © Pierre Baelen / Greenpeace" %}

{% set social_image = "https://secured-static.greenpeace.org/france/Global/france/new-gmo/FB-ad-OGM-1200x628-C.jpg" %}

{% set site_name = "nouveauxogmjenveuxpas.fr" %}

{% set share_url = "http://www.nouveauxogmjenveuxpas.fr" %}

{% set twitter_account = "@greenpeacefr" %}

{% set twitter_msg = "Des nouveaux OGM bientôt dans nos champs et nos assiettes ? Signez la pétition" %}

{% set twitter_msg_signature = "J’ai signé la pétition pour faire reconnaître et réglementer les nouveaux OGM" %}

{% set label_share_facebook = "Partagez" %}

{% set label_share_twitter = "Twittez" %}

{% set sign_button = "SIGNER" %}

{% set gtm = "GTM-58HSBK" %}

{% set analytics_confirmation_url = "/france/petition-nouveaux-ogm/confirmation" %}

{% set analytics_confirmation_title = "Nouveaux OGM, non merci ! - Confirmation" %}

{% set analytics_confirmation_hostname = "greenpeace.org" %}

{% set analytics_confirmation_event_category = "petition" %}

{% set analytics_confirmation_event_action = "signature" %}

{% set analytics_confirmation_event_label = "nouveaux-ogm" %}


{#
logos assos à la bonne taille (col-*)
#}

{#
désactiver bind sur blur des champs (saloperies d'EN)
#}

{#
#
#
#
#}

{% block top_form %}
Ne laissons pas les OGM s’immiscer dans nos champs et nos assiettes
<br/>
<span class="sign">Signez la pétition&nbsp;!</span>
{% endblock top_form %}



{#
#
#
#
#}

{% block counter %}
Déjà <span id="nb-signatures">1</span> signatures.
Objectif : <span class="format-number">{{ target }}</span>

{% endblock counter %}

{#
#
#
#
#}

{% block bottom_form %}
<p>
Vos données resteront strictement confidentielles et ne seront ni vendues ni échangées. Des informations sur cette campagne ainsi que d’autres actualités Greenpeace vous seront envoyées. D’autres formes d’engagement vous seront éventuellement proposées.Vous pouvez vous désinscrire à tout moment.
</p>
{% endblock bottom_form %}



{#
#
#
#
#}

{% block footer_links %}
<ul class="footer-links">
  <li><a href="http://www.greenpeace.org/france/fr/items/mentions-legales/">Mentions Légales</a></li>
  <li><a href="https://www.facebook.com/ogmjenveuxpas">OGM J’en veux pas</a></li>
</ul>
{% endblock footer_links %}



{#
#
#
#
#}

{% block footer_text %}
<p>
Cette pétition est portée par sept organisations paysannes et de la société civile&nbsp;: <a href="http://www.amisdelaterre.org/" target="_blank">Les Amis de la Terre</a>, la <a href="http://www.confederationpaysanne.fr/" target="_blank">Confédération Paysanne</a>, la <a href="http://www.fnab.org/" target="_blank">Fédération Nationale d’Agriculture Biologique</a>, <a href="http://www.fne.asso.fr/" target="_blank">France Nature Environnement</a>, <a href="http://www.greenpeace.org/france/fr/" target="_blank">Greenpeace</a>, le <a href="http://www.semencespaysannes.org/" target="_blank">Réseau Semences Paysannes</a> et l’<a href="http://www.unaf-apiculture.info/" target="_blank">Union Nationale de l’Apiculture Française</a>. La pétition est hébergée sur le site de Greenpeace France.
</p>
{% endblock footer_text %}



{#
#
#
#
#}

{% block confirmation_text %}
<p>
<b>Merci d’avoir signé la pétition</b>. Ensemble, rappelons à nos dirigeants l’opposition de la population aux OGM, anciens ou nouveaux. Plus nous serons nombreux, plus les responsables politiques auront du mal à céder à la pression des industriels et des Etats-Unis pour contourner la réglementation.
</p>

<p class="lead">
  Passez à l’étape suivante, partagez la pétition dans vos réseaux&nbsp;!
</p>
{% endblock confirmation_text %}


{#
#
#
#
#}

{% block confirmation_text_again %}
<p>
<b>Merci d’avoir signé la pétition</b>. Ensemble, rappelons à nos dirigeants l’opposition de la population aux OGM, anciens ou nouveaux. Plus nous serons nombreux, plus les responsables politiques auront du mal à céder à la pression des industriels et des Etats-Unis pour contourner la réglementation.
</p>

<p class="lead">
  Passez à l’étape suivante, partagez la pétition dans vos réseaux&nbsp;!
</p>
{% endblock confirmation_text_again %}


{#
#
#
#
#}

{% block petition_text %}
<p>
  <img src="https://secured-static.greenpeace.org/france/Global/france/new-gmo/ogm-j-en-veux-pas-non-plus.jpg"/>
</p>

<p class="lead">
  Une majorité écrasante de la population européenne rejette les OGM et de nombreux États membres ont interdit leur mise en culture. Cependant, les entreprises de l’agrochimie ont trouvé une nouvelle recette pour faire entrer les OGM dans nos champs et nos assiettes : contourner la réglementation européenne en affirmant que les OGM issus de nouvelles techniques ne sont en réalité pas des OGM.
</p>

<p>
  Si les industriels parviennent à leurs fins, des plantes et des animaux génétiquement modifiés pourraient très vite arriver dans nos champs et nos assiettes. Ils ne seraient pas soumis aux obligations d’évaluation des risques ou d’étiquetage. En réalité, comme leur présence serait passée sous silence, nous ne pourrions rien faire pour nous en protéger !
</p>

<h2>
Ne pas céder à la pression des industriels, ni des Etats-Unis
</h2>

<p>
  La réglementation européenne exige que les OGM fassent l’objet d’une évaluation des risques sanitaires et environnementaux et d’un étiquetage, pour que les consommateurs puissent faire leurs choix en toute connaissance de cause. Depuis 2015, les États membres peuvent également interdire les cultures d’OGM sur leur sol – <a href="http://ec.europa.eu/food/plant/gmo/authorisation/cultivation/geographical_scope_en.htm" target="_blank">ce que 19 d’entre eux ont fait</a>, sur tout ou partie de leur territoire. Si les nouveaux OGM échappaient à la réglementation, cette possibilité serait exclue et il n’y aurait aucun moyen de les éviter.
</p>

<p>
  La Commission européenne a annoncé qu’elle publierait une analyse juridique qui précisera si les nouveaux OGM seront couverts ou non par la réglementation. Les entreprises qui commercialisent des OGM, <a href="http://agriculture.greenpeace.fr/nouveaux-ogm-comment-les-etats-unis-tentent-de-nous-faire-avaler-la-pilule" target="_blank">soutenues par le gouvernement américain</a>, sont en train de faire pression sur la Commission pour qu’elle exclue de cette réglementation les OGM produits à partir des nouvelles techniques de manipulation génétique. Leur objectif : breveter et privatiser le vivant.
</p>

<p>
  <img src="https://secured-static.greenpeace.org/france/Global/france/new-gmo/FB-ad-OGM-1200x628-D-nologo.jpg"/>
</p>

<p>
  Nous devons veiller à ce que nos responsables politiques n’ouvrent pas les portes de l’Europe aux OGM. <strong>Signez cette pétition pour barrer la route aux nouveaux OGM. Ensemble, demandons à nos dirigeants politiques d’appliquer pleinement la réglementation destinée à protéger notre santé et notre environnement</strong>, et de faire en sorte qu’elle ne soit pas contournée au profit des seuls intérêts financiers industriels.
</p>

<h2>
  À l'attention des ministères français de l’Environnement et de l’Agriculture et de la Commission européenne
</h2>

<p>
  En tant que citoyens avertis, nous vous demandons d’appliquer rigoureusement la réglementation de l’Union européenne sur les organismes génétiquement modifiés (OGM) <strong>à tous les OGM, sans exception, destinés à être commercialisés dans l’Union européenne, quelle que soit la méthode dont ils sont issus.</strong>
</p>

<p>
  Il faut que les ministères français de l’Environnement et de l’Agriculture ainsi que la Commission européenne ne laissent planer aucun doute sur le fait que les nouveaux OGM issus de techniques d’édition de gènes ou d’autres techniques doivent être soumis à la réglementation européenne sur les OGM. Cette réglementation exige l’évaluation avant autorisation, la traçabilité et l’étiquetage des OGM.
</p>

<p>
  Les dirigeants ne doivent pas céder à la pression des industriels, qui ferment les yeux sur l’opposition de la population aux OGM et tentent de contourner la réglementation. Il en va de notre santé et de notre environnement.
</p>


{% endblock petition_text %}



{#
#
#
#}
{% set more_title = "En savoir plus sur les nouveaux OGM" %}

{% block more %}
<p>
Ces nouveaux OGM sont obtenus en faisant pénétrer dans la cellule du matériel génétique étranger (des acides nucléïques) par l’utilisation de techniques in vitro, donc non naturelles. Celui-ci provoque des modifications génétiques en coupant l’ADN de la cellule.  Dans certaines situations, le matériel génétique étranger introduit n’est pas intégré à l’ADN de la cellule. Ces techniques ne rendent pas ces nouveaux OGM plus naturels pour autant. De plus, ils présentent les mêmes problèmes que leurs aînés. La manipulation d’organismes vivants est encore mal comprise et peut entraîner des dommages  irréversibles sur l’environnement, ainsi que sur la santé humaine et animale.
</p>

<p>
Les industriels veulent dérèglementer ces nouveaux OGM sur la seule base de l’intégration ou non du matériel génétique étranger introduit.
</p>

<p>
Affirmer, comme le font les industriels de l’agrochimie, que ces nouveaux OGM ne sont pas concernés par la réglementation européenne, c’est tout simplement mentir. La réglementation définit un OGM  comme étant un organisme « dont le matériel génétique a été modifié d'une manière qui ne se produit pas naturellement », ce qui couvre toutes les méthodes de manipulation du code génétique , sauf celles dont « la sécurité est avérée depuis longtemps » – ce qui n’est pas le cas des nouvelles techniques.
</p>
{% endblock more %}
