<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="apple-touch-icon" sizes="57x57" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/manifest.json">
<link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/mstile-144x144.png">
<meta name="msapplication-config" content="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1849/browserconfig.xml">
<meta name="theme-color" content="#ffffff">