{% use "content.twig" %}
</div>


<div class="reassurance" id="reassurance">
{{ block('bottom_form') }}
</div>


</div>

</div>
</div>

<div class="presentation">

{{ block('petition_text') }}



<div class="more">
  <h3>
    <span class="fa-stack">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
    </span>
{{ more_title }}
  </h3>

  <div class="more-content">
    {{ block('more') }}
  </div>
</div>



{% if nro == "france" %}
  {% include "fr-asso.twig" %}
{% endif %}


</div>
</div>




			</div>
		</div>


    <footer role="contentinfo" class="footer">
      <div class="container">
        {{ block("footer_links") }}

        {{ block("footer_text") }}

      </div>
     </footer>
     <script type="text/javascript" src="{{ addthis_url }}"></script>
     <script type="text/javascript">{% include "../../dist/main.js" %}</script>
	</body>
</html>
