<form onsubmit="return validateEAform(this, false, false, false )" action="https://act.greenpeace.org/ea-action/action?__surl__=&amp;__ots__=1460635063664&amp;__step__=6" class="eaform ea14749class" id="ea14749id" name="Pétition OGM_1" method="POST">
<input type="hidden" value="ea_submit_user_form" name="ea_requested_action">
<input type="hidden" value="true" id="ea_javascript_enabled" name="ea_javascript_enabled">
<input type="hidden" value="false" name="ea.AJAX.submit">
<input type="hidden" value="1849" name="ea.client.id">
<input type="hidden" value="49888" name="ea.campaign.id">
<input type="hidden" value="14749" name="ea.form.id">
<input type="hidden" value="1" name="ea.submitted.page">
<input type="hidden" value="6b7b335f-d6ba-4cf5-8d71-55f543db825d" name="sessionId">
<div class="eaFullWidthContent" id="first_nameDiv"><div class="eaErrorMessage" id="first_nameError"></div>
<span class="eaFormElementLabel"><label for="first_name"><a style="text-decoration:none; color: inherit;" name="first_name">Prénom</a><span class="eaMandatoryFieldMarker"> *</span></label></span>
<div class="eaFormField" id="first_nameField">
   <input type="text" onblur="validatefield(this, true, false, false);" value="" name="first_name" class="eaFormTextfield" id="first_name">
</div>

</div>
<div class="eaFullWidthContent" id="last_nameDiv"><div class="eaErrorMessage" id="last_nameError"></div>
<span class="eaFormElementLabel"><label for="last_name"><a style="text-decoration:none; color: inherit;" name="last_name">Nom</a><span class="eaMandatoryFieldMarker"> *</span></label></span>
<div class="eaFormField" id="last_nameField">
   <input type="text" onblur="validatefield(this, true, false, false);" value="" name="last_name" class="eaFormTextfield" id="last_name">
</div>

</div>
<div class="eaFullWidthContent" id="emailDiv"><div class="eaErrorMessage" id="emailError"></div>
<span class="eaFormElementLabel"><label for="email"><a style="text-decoration:none; color: inherit;" name="email">Adresse e-mail</a><span class="eaMandatoryFieldMarker"> *</span></label></span>
<div class="eaFormField" id="emailField">
   <input type="text" onblur="validatefield(this, true, false, false);" value="" name="email" class="eaFormTextfield" id="email">
</div>

</div>
<div class="eaFullWidthContent" id="phone_numberDiv"><div class="eaErrorMessage" id="phone_numberError"></div>
<span class="eaFormElementLabel"><label for="phone_number"><a style="text-decoration:none; color: inherit;" name="phone_number">Téléphone</a></label></span>
<div class="eaFormField" id="phone_numberField">
   <input type="text" onblur="validatefield(this, true, false, false);" value="" name="phone_number" class="eaFormTextfield" id="phone_number">
</div>

</div>




<div class="eaFullWidthContent" id="utm_campaignDiv"><div class="eaErrorMessage" id="utm_campaignError"></div>
	<span class="eaFormElementLabel"><label for="utm_campaign"><a style="text-decoration:none; color: inherit;" name="utm_campaign">Campaign</a></label></span>
	<div class="eaFormField" id="utm_campaignField">
		<input type="text" onblur="validatefield(this, true, false, false);" value="" name="utm_campaign" class="eaFormTextfield" id="utm_campaign">
	</div>

</div>



<div class="eaFullWidthContent" id="utm_sourceDiv"><div class="eaErrorMessage" id="utm_sourceError"></div>
	<span class="eaFormElementLabel"><label for="utm_source"><a style="text-decoration:none; color: inherit;" name="utm_source">Campaign</a></label></span>
	<div class="eaFormField" id="utm_sourceField">
		<input type="text" onblur="validatefield(this, true, false, false);" value="" name="utm_source" class="eaFormTextfield" id="utm_source">
	</div>

</div>



<div class="eaFullWidthContent" id="email_okDiv"><div class="eaQuestionLabel"></div><div class="eaQuestionCheckboxFormFieldContainer">
<span class="eaQuestionCheckbox"><input type="checkbox" onblur="validatefield(this, false, false, false);" checked="" value="Y" name="email_ok" id="email_okY"><label for="email_okY"> Vous recevrez des informations de la part de Greenpeace (vous pourrez vous désabonner à tout moment)</label></span>&nbsp;&nbsp;&nbsp;</div>
</div>
<div class="eaFullWidthContent" id="OGM_-_script_page_1Div"><script type="text/javascript">// &lt;![CDATA[
   dataLayer.push({
      'event':'FrVirtualPageview',
      'virtualPageURL':'/france/petition-nouveaux-ogm',
      'virtualPageTitle':'Nouveaux OGM, j’en veux toujours pas',
      'virtualHostName':'greenpeace.org'
});
// ]]&gt;</script>
</div><span id="eaFormButtonGroup_1" class="eaSubmitResetButtonGroup"><input type="submit" value="SIGNER" class="eaSubmitButton"></span>
</form>
