<div class="assos">
  <div class="asso"><a href="http://www.amisdelaterre.org/" target="_blank" title="Les Amis de la Terre"><img src="{{ cdn }}/amis-de-la-terre.png" alt="Les Amis de la Terre"/></a></div>
  <div class="asso"><a href="http://www.cnafal.org/" target="_blank" title="Conseil National des Associations Familiales Laïques"><img src="{{ cdn }}/cnafal.png" alt="Conseil National des Associations Familiales Laïques"/></a></div>
  <div class="asso"><a href="http://www.confederationpaysanne.fr/" target="_blank" title="Confédération Paysanne"><img src="{{ cdn }}/confederation-paysanne.png" alt="Confédération Paysanne"/></a></div>
  <div class="asso"><a href="http://www.fnab.org/" target="_blank" title="Fédération Nationale d'Agriculture Biologique"><img src="{{ cdn }}/fnab.png" alt="Fédération Nationale d'Agriculture Biologique"/></a></div>
  <div class="asso"><a href="http://www.fne.asso.fr/" target="_blank" title="France Nature Environnement"><img src="{{ cdn }}/fne.png" alt="France Nature Environnement"/></a></div>
  <div class="asso"><a href="http://gietinfo.abracadabrapdf.net/" target="_blank" title="Groupe International d'Etudes Transdisciplinaires"><img src="{{ cdn }}/giet.png" alt="Groupe International d'Etudes Transdisciplinaires"/></a></div>
  <div class="asso"><a href="http://www.greenpeace.org/france/fr/" target="_blank" title="Greenpeace"><img src="{{ cdn }}/greenpeace.png" alt="Greenpeace"/></a></div>
  <div class="asso"><a href="http://www.semencespaysannes.org/" target="_blank" title="Réseau Semences Paysannes"><img src="{{ cdn }}/rsp.png" alt="Réseau Semences Paysannes"/></a></div>
  <div class="asso"><a href="http://www.unaf-apiculture.info/" target="_blank" title="Union Nationale de l'Apiculture Française"><img src="{{ cdn }}/unaf.png" alt="Union Nationale de l'Apiculture Française"/></a></div>
</div>
