{% use "content.twig" %}
<!doctype html>
<html lang="{{ lang}}">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="content-language" content="{{ lang }}"/>
		<meta name="robots" content="index,follow,noodp"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width"/>
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}" />

    <meta property="og:title" content="{{ social_title }}"/>
    <meta property="og:description" content="{{ social_description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ canonical_url }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
		<meta property="og:image" content="{{ social_image }}"/>

    <meta itemprop="name" content="{{ social_title }}"/>
    <meta itemprop="description" content="{{ social_description }}"/>
    <meta itemprop="url" content="{{ canonical_url }}"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="{{ twitter_account }}"/>
    <meta name="twitter:site" content="{{ site_name }}"/>
    <meta name="twitter:title" content="{{ social_title }}"/>
    <meta name="twitter:description" content="{{ social_description }}"/>
		<meta name="twitter:image" content="{{ social_image }}"/>

		<style type="text/css">{% include "../../dist/main.css" %}</style>

		{% include "favicon.twig" %}


    <link rel="canonical" href="{{ canonical_url }}"/>
    <script>
      dataLayer = [];
    </script>
	</head>

	<body>

		<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ gtm }}');
		</script>


    <div class="show-form" id="show-form">
      <div class="wrapper">
        <button type="button" class="btn btn-primary btn-block">{{ sign_button }}</button>
      </div>
    </div>

    <div class="container petition">

			<div class="petition-wrapper">

				<div class="content">
					<h1>{{ title }}</h1>


					<div class="share-top">
							<a rel="nofollow" class="share-item" id="share-facebook" href="http://www.facebook.com/sharer.php?u={{ share_url|e('url') }}">{{ label_share_facebook }} <i class="fa fa-facebook" aria-hidden="true"></i>
							</a>

							<a rel="nofollow" class="share-item" id="share-twitter" href="https://twitter.com/intent/tweet?text={{ twitter_msg|e('url') }}&url={{ share_url|e('url') }}">{{ label_share_twitter }} <i class="fa fa-twitter" aria-hidden="true"></i>
							</a>

					</div>

					<div class="formular" id="petition">
						<div class="form-wrapper">
							<p class="intro" id="intro">
								{{ block('top_form') }}
							</p>

							<div class="counter" id="counter">
							  <p>
							    {{ block ('counter') }}
							  </p>
							  <div class="progress">
							    <div class="progress-bar" role="progressbar" id="progress-bar" data-target="{{ target }}">
							    </div>
							  </div>
							</div>

							<div id="form-sticky" class="form-sticky">
								<div class="fields">
